:root {
  --bg-color: #191925;
  --text-color: #d4d4d4;
  --text-hover-color: #f9c47f;
  --nav-bg-color: #181717;
  --nav-hover-color: #191925;
  --border-color: #474747;
  --icon-about: #ffffff;
  --icon-skills: #12dd2d;
  --icon-projects: #256cb2;
  --icon-contact: #f05033;
  --icon-lightbulb: #f9c47f;
  --icon-html: #e34f26;
  --icon-css: #1572b6;
  --icon-scss: #cd6799;
  --icon-js: #f7df1e;
  --icon-sql: #5979ae;
  --icon-ng: #a31a13;
  --icon-node: #8cc84b;
  --icon-email: #37b7ee;
  --icon-linkedin: #0077b5;
  --icon-github: #ffffff;
  --icon-empathy: #ff69b4;
  --icon-teamwork: #ffffff;
  --icon-organization: #2253f6;
  --icon-analytical: #9c27b0;
  --icon-curiosity: #0066ff;
  --icon-creativity: #ff4500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Consolas", "Courier New", monospace;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ide-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 2.5em);
}

.explorer-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--nav-bg-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  padding: 0.5em 1em;
  width: 100%;
  font-size: 1em;
}

.explorer-menu i {
  transition: transform 0.3s ease;
  margin-right: 01em;
}

.explorer-menu.active i {
  transform: rotate(90deg);
}

.ide-nav {
  background-color: var(--nav-bg-color);
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-menu {
  list-style-type: none;
  display: none;
}

.nav-menu.active {
  display: block;
}

.ide-nav li {
  margin-left: 2em;
}

.ide-nav li:nth-child(3) a {
  padding-left: 0.8em;
}

.ide-nav a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 0.5em;
}

.ide-nav a:hover {
  background-color: var(--nav-hover-color);
}

.ide-nav a i {
  margin-right: 1em;
}

.ide-nav li:nth-child(1) i {
  color: var(--icon-about);
}
.ide-nav li:nth-child(2) i {
  color: var(--icon-skills);
}
.ide-nav li:nth-child(3) > a > i {
  color: var(--icon-projects);
}
.ide-nav li:nth-child(3) .projects-dropdown i:not(.dropdown-icon) {
  color: var(--icon-projects);
    margin-right: 0.8em;

}
.ide-nav li:nth-child(3) .dropdown-icon {
  color: var(--text-color);
  margin-left: 0.1em
}
.ide-nav li:nth-child(4) i {
  color: var(--icon-contact);
}
.ide-nav li:nth-child(5) i {
  color: var(--icon-lightbulb);
  margin-right: 1.6em;
}

.projects-dropdown {
  display: flex;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.5em;
  font-family: "Consolas", "Courier New", monospace;
  font-size: 1em;
  text-align: left;
}

.dropdown-icon {
  transition: transform 0.3s ease;
  margin-right: 1.8em;
  color: var(--text-color);
}

.projects-dropdown.active .dropdown-icon {
  transform: rotate(90deg);
}

.projects-submenu {
  display: none;
  padding-left: 2em;
}

.projects-submenu.active {
  display: block;
}

.projects-submenu a {
  padding: 0.3em 0.5em;
  color: var(--text-color);
  text-decoration: none;
  display: block;
}

.projects-submenu a:hover {
  background-color: var(--nav-hover-color);
}

.ide-main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.header-section h3 {
  width: 100%;
  text-align: center;
}

.header-section h1 {
  font-size: 2em;
  margin: 0.2em 0;
}

.animate-slide-in {
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.5s ease-in-out forwards;
}
#skills h2.animate-slide-in {
  animation-delay: 0.5s;
}
#projects h2.animate-slide-in {
  animation-delay: 0.5s;
}
#contact h2.animate-slide-in {
  animation-delay: 0.5s;
}

.header-section h3.animate-slide-in {
  animation-delay: 0.5s;
}
.header-section h1:nth-of-type(1).animate-slide-in {
  animation-delay: 1s;
}
.header-section h1:nth-of-type(2).animate-slide-in {
  animation-delay: 1.5s;
}
.profile-image.animate-slide-in {
  animation-delay: 2s;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reset-animation {
  animation: none !important;
  opacity: 0 !important;
  transform: translateY(20px) !important;
}

.profile-image {
  max-width: auto;
  height: auto;
  border-radius: 50%;

}

section {
  margin-bottom: 2em;
  padding-top: 2em;
}

h2 {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
}

ul {
  list-style-type: none;
  margin-top: 10px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

#about { 
  padding: 1.3em;
}

#skills ul {
  margin-right: 0.5rem;
  text-align: center;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 10px;
  justify-content: center;
  padding: 0 10px;
}

#skills ul li {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

#skills ul li i {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

#skills h3 {
  text-decoration: underline;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

#skills .hs-container ul li:nth-child(1) i {
  color: var(--icon-html);
}
#skills .hs-container ul li:nth-child(2) i {
  color: var(--icon-scss);
}
#skills .hs-container ul li:nth-child(3) i {
  color: var(--icon-js);
}
#skills .hs-container ul li:nth-child(4) i {
  color: var(--icon-sql);
}
#skills .hs-container ul li:nth-child(5) i {
  color: var(--icon-ng);
}
#skills .hs-container ul li:nth-child(6) i {
  color: var(--icon-node);
}


#skills .ss-container ul li:nth-child(1) i {
  color: var(--icon-empathy); 
}
#skills .ss-container ul li:nth-child(2) i {
  color: var(--icon-analytical);
}
#skills .ss-container ul li:nth-child(3) i {
  color: var(--icon-curiosity);
}
#skills .ss-container ul li:nth-child(4) i {
  color: var(--icon-creativity); 
}


#projects {
  margin-bottom: 2em;
  padding: 1.3em;
}

#projects h2 {
  text-align: center;
  margin-bottom: 1.5em;
}

#projects .ocoffee,
#projects .readme,
#projects .sirene,
#projects .mbt,
#projects .thanks {
  margin-top: 4em;
  margin-bottom: 3em;
}

#projects h3 {
  text-align: center;
  text-decoration: underline;
  margin-top: 4em;
  margin-bottom: 1em;
}

#projects p {
  margin-bottom: 1em;
}

#projects a {
  text-decoration: underline;
}

#projects a:hover {
  color: var(--text-hover-color);
}

#projects video,
#projects iframe {
  display: block;
  margin: 0 auto;
}

#projects .thanks iframe {
  border: none;
}

#contact {
  padding: 1.3em;
}

#contact ul {
  list-style-type: none;
  padding: 0;
}

#contact li {
  margin-bottom: 0.5em;
}

#contact li i {
  margin-right: 0.5em;
}

.oclock {
  text-decoration: underline;
}

.oclock:hover {
  color: var(--text-hover-color);
}

.hs-container,
.ss-container {
  margin-bottom: 20px;
  padding: 20px;
}

#contact a {
  text-decoration: underline;
}

#contact a:hover {
  color: var(--text-hover-color);
}

#contact li:nth-child(1) i {
  color: var(--icon-email);
}
#contact li:nth-child(2) i {
  color: var(--icon-linkedin);
}
#contact li:nth-child(3) i {
  color: var(--icon-github);
}


.social-share {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.share-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 15px;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    transition: background 0.3s ease, transform 0.2s ease;
    width: 80%;
    max-width: 280px;
    justify-content: center;
    text-decoration: none !important;
}

.share-btn i {
    font-size: 1.2rem;
}

.linkedin {
    background-color: var(--icon-linkedin);
    color: white;
}

.linkedin:hover {
    background-color: #005582;
    transform: scale(1.05);
}

.facebook {
    background-color: #0E54B4;
    color: white;
}

.facebook:hover {
    background-color: #1259c3;
    transform: scale(1.05);
}

.ide-footer {
  background-color: var(--nav-bg-color);
  color: var(--text-color);
  text-align: center;
  font-size: 0.8em;
  border-top: 1px solid var(--border-color);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.5em;
  z-index: 1001;
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
}

.vs-code-icon-container {
  position: relative;
  width: 30px;
  height: 100%;
}

.vs-code-icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  background-color: var(--border-color);
  padding: 0 4px;
  width: 100%;
  cursor: pointer;
}

.vs-code-icon i:first-child {
  color: #ffffff;
  font-size: 8px;
  align-self: flex-start;
  transform: translateY(13px) translateX(6px);
}

.vs-code-icon i:last-child {
  color: #ffffff;
  font-size: 8px;
  align-self: flex-end;
  transform: translateY(-14px) translateX(-6px);
}

.vs-code-icon:hover::before,
.vs-code-icon:hover::after {
  position: absolute;
  left: 50%;
  transform: translateX(-30%);
  pointer-events: none;
}

.vs-code-icon:hover::before {
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--nav-bg-color) transparent;
  top: -10px;
}

.vs-code-icon:hover::after {
  content: attr(title);
  background-color: var(--nav-bg-color);
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  top: -35px;
  font-size: 12px;
  border: 1px solid var(--border-color);
}

.ide-footer p {
  flex-grow: 1;
  margin: 0;
}

#lighthouse {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
}

#lighthouse h2 {
    color: white;
    margin-bottom: 20px;
}

#lighthouse p {
    font-size: 1em;
    color: white;
    line-height: 1.6;
    margin-bottom: 30px;
}

.gif-container {
    max-width: 100%;
    overflow: hidden;
    border-radius: 8px; 
}

.gif-container img {
    width: 100%;
    height: auto;
    display: block;
}


#footer-links {
    border-top: 1px solid var(--border-color);
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
}

#footer-links a {
    color: var(--text-color);
    text-decoration: underline;
}

#footer-links a:hover {
    color: var(--text-hover-color);
}

.cookie-banner {
  position: fixed;
  bottom: 180px; 
  left: 50%;
  transform: translateX(-50%); 
  max-width: 300px;
  width: 90%;
  color: #181717;
  background: linear-gradient(to right, #8ca899, #edf0f1);
  padding: 25px;
  text-align: center;
  z-index: 9000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0; 
  transition: opacity 0.5s ease; 
}

.cookie-banner.visible {
  opacity: 1; 
}

.cookie-banner::before {
  content: '';
  display: block;
  border-radius: 60px;
  width: 100px;
  height: 100px;
  background-image: url('./assets/monsterez.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
}

.cookie-banner p {
  margin-bottom: 15px;
}

.cookie-banner button {
  border-radius: 25px;
  padding: 10px 20px;
  background: #AA250E;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.cookie-banner button:hover {
  box-shadow: 0 4px 6px #00000077;
  background-color: #8a1e0b; 
}

.close-btn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #333;
}

@keyframes clickAnimation {
  0%,
  5%,
  25%,
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0;
  }
  20%,
  24% {
    transform: translate(-20px, 2px) scale(1);
    opacity: 1;
  }
  24.1% {
    transform: translate(-20px, 2px) scale(1);
    opacity: 0;
  }
}

.oclock i {
  display: inline-block;
  animation: clickAnimation 6s ease-in-out infinite;
}

@media (min-width: 48em) {
  .ide-container {
    flex-direction: row;
  }

  .ide-nav {
    width: 15em;
    height: 100vh;
    border-right: 1px solid var(--border-color);
    border-bottom: none;
    position: fixed;
    top: 0;
    left: 0;
  }

  .ide-main {
    flex: 1;
    margin-left: 16em;
  }
  .header-section {
    margin-top: 80px;
    margin-bottom: 100px;
  }
  .profile-image {
    border-radius: 250px;
    width: 200px;
  }
  #about {
    margin-bottom: 100px;
  }
  #skills ul {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
    margin-bottom: 100px;
  }

  #projects {
    margin-bottom: 100px;
  }
  #projects video,
  #projects iframe {
    width: 80%;
    height: 400px;
  }
  #contact {
    margin-top: 100px;
  }
  .social-share {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;     
  }

  .cookie-banner {
    bottom: 180px;
    left: 56%;
    max-width: 800px;  
  }

}


/* Ca en fait des lignes hin ^^ , bravo d'avoir fouillé jusqu'ici */